<body>
    <app-top-bar></app-top-bar>


<div class="menu-container">
    <h1 class="menu-title">Menu</h1>
  
    <div class="menu-section">
      <h2 class="menu-section-title">Appetizers</h2>
      <div class="menu-item">
        <img class="menu-item-image" src="https://avatars.mds.yandex.net/i?id=ab6390dbfb01a6c8daf319f527e573c5_l-9214528-images-thumbs&n=13" alt="Bruschetta">
        <div>
          <div class="menu-item-name">Bruschetta</div>
          <div class="menu-item-description">Grilled bread with tomato, garlic, and basil.</div>

        </div>
        <div class="menu-item-price">$8.99</div>
      </div>
      <div class="menu-item">
        <img class="menu-item-image" src="https://t3.ftcdn.net/jpg/02/71/29/00/360_F_271290041_kOOv7tDAymSuHhOTJ9rU9xvnATbDTlL3.jpg" alt="Stuffed Mushrooms">
        <div>
          <div class="menu-item-name">Stuffed Mushrooms</div>
          <div class="menu-item-description">Mushrooms filled with cheese and herbs.</div>
        </div>
        <div class="menu-item-price">$10.99</div>
      </div>
    </div>
  
    <div class="menu-section">
      <h2 class="menu-section-title">Main Course</h2>
      <div class="menu-item">
        <img class="menu-item-image" src="https://as1.ftcdn.net/v2/jpg/03/25/35/08/1000_F_325350805_D8PVU73qs1dj5TdWgm9IpuAjJ7sgHacK.jpg" alt="Grilled Salmon">
        <div>
          <div class="menu-item-name">Grilled Salmon</div>
          <div class="menu-item-description">Fresh salmon with a side of vegetables.</div>
        </div>
        <div class="menu-item-price">$22.99</div>
      </div>
      <div class="menu-item">
        <img class="menu-item-image" src="https://avatars.mds.yandex.net/i?id=d6716c6eac754d081ef8c80e50299ca8_l-9730424-images-thumbs&n=13" alt="Ribeye Steak">
        <div>
          <div class="menu-item-name">Ribeye Steak</div>
          <div class="menu-item-description">Juicy ribeye cooked to perfection.</div>
        </div>
        <div class="menu-item-price">$29.99</div>
      </div>
    </div>
  </div>
  
</body>
